<div class="panel panel-default panel-collapsible">
  <div class="panel-heading" data-toggle="collapse" data-target="#tiivistelmaPanel{{vm.modalId}}">
    <h4 class="panel-title">
      <span i18n="ark.Summary"></span>
      <span class=" pull-right glyphicon clickable_space collapsed-indicator"></span>
    </h4>
  </div>
  <!-- Muokkaustila -->
  <div id="tiivistelmaPanel{{vm.modalId}}" class="panel-body panel-collapse collapse in" ng-if="vm.edit">
    <div class="form-group">
      <label for="summary" class="col-sm-3 control-label">
        <span i18n="ark.Summary"></span>
      </label>
      <div class="col-sm-9">
        <textarea rows="3" class="form-control" name="summary" disabled
          ng-model="vm.tutkimus.tiivistelma">
        </textarea>
      </div>
    </div>
  </div>
  <!-- Katselutila -->
  <div id="tiivistelmaPanel{{vm.modalId}}" class="panel-body panel-collapse collapse in" ng-if="!vm.edit">
    <div class="form-group" ng-if="vm.tutkimusraportti.properties.arkisto_ja_rekisteritiedot">
      <label class="col-sm-3 control-label">
        <span i18n="ark.Summary"></span>
      </label>
      <div class="col-sm-9">
        <p class="form-control-static mip-multiline">{{vm.tutkimus.tiivistelma}}</p>
      </div>
    </div>
  </div>
</div>
